@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

/*General styles*/

.container {
    max-width: 1800px;
    margin: 0 auto;
}

/*header styles*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    flex-wrap: wrap;
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
    width: 500px;
    font-weight: 600;
}

.navList__item {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

.navList__item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navList__item:hover::after {
    transform: scaleX(1);
}

.navList__link {
    text-decoration: none;
    color: black;
}

.nav__toggle {
    display: none;
}

/*hero styles*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1em;
}

.hero__texts {
    width: 50%;
}

.hero__title {
    font-size: clamp(3rem, 5vw, 5rem);
    text-align: center;
    font-weight: 900;
}

.hero__paragraph {
    font-size: 2rem;
    margin: 0;
}

.hero__link {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 1em 1.5em;
    background: #000;
    position: relative;
    border: 2px solid #000;
    outline: 1px solid;
    outline-color: rgba(0,0,0, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    display: block;
    margin-top: 1em;
    width: max-content;
    border-radius: 20px;
}

.hero__link:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  
  .hero__link:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
  }

  .hero__link:hover:before {
    width: 100%;
    }
  

.hero__img {
    height: 700px;
}

/*Responsive*/

@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


    .hero__title {
        margin-block: .5em;
    }

    .hero__texts {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 0;
    }

    .hero__link {
        margin-block: 1em;
    }

    .hero__img__container {
        text-align: center;

    }

    .hero__img {
        width: 100%;
        height: 500px;
        margin-top: 1em;
    }

    .navList {
        position: fixed;
        left: 0;
        top: 130px;
        background-color: #F5F5F5;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: start;
        gap: 50px;
        padding: 0.5em;
        transform: translateX(-100%);
        z-index: 10;
        transition: transform .5s ease-out;
    }

    .navList__item--margin {
        margin-top: .5em;
    }

    .nav__toggle,
    .categories__toggle {
        display: flex;
        flex-direction: column;
    }

    .nav__toggle__line, 
    .categories__toggle__line {
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        background-color: #000;
        transition: transform 0.3s ease-in-out;
    }

    .close .nav__toggle__line,
    .close .categories__toggle__line {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .close .nav__toggle__line:nth-child(2),
    .close .categories__toggle__line:nth-child(2) {
        display: none;
    }

    .close .nav__toggle__line:nth-child(3), 
    .close .categories__toggle__line:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .open {
        transform: translateX(0);
        bottom: 0;
    }
}

@media (max-width: 475px) {
    .logo {
        width: 150px;
    }

    .navList {
        top: 73px;
    }
}