
.logo--library {
    margin-left: 1em;
}

.nav__toggle--library{
    margin-right: 1em;
}

.categoriesBookContainer {
    display: flex;
}

.searchContainer {
    display: flex;
    background-color: #fff;
    margin-top: 1em;
    border-radius: 20px;
    margin-inline: 1em;
}

.iconSearch {
    width: 25px;
    padding: 1em;
    padding-left: 1em;
}

.search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding-right: 1em;
    border-radius: 20px;
}

.categoriesBookContainer{
    margin-inline: 1em;
}

.categories {
    background-color: #fff;
    width: 260px;
    height: 270px;
    margin-top: 1em;
    border-radius: 10px;
}

.categoriesHead {
    display: flex;
    border-bottom: 1px solid black;
}

.categoriesIcon {
    width: 35px;
    border-right: 2px solid black;
    padding: 1em;
}

.categoriesTittle {
    width: 100%;
    text-align: center;
    padding-inline: 1em;
}

.categoriesBody {
    padding: 1em;
    font-size: 1.2rem;
}

.categoriesBody__check {
    margin-bottom: 1em;
    transform: scale(1.2);
}

.booksContainer {
    width: 100%;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 15px;
    margin-bottom: 1em;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.bookCard {
    color: #0C1220;
    background-color: #fff;
    margin-top: 1em;
    display: flex;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.bookCard__img {
    width: 190px;
}

.bookCard__information {
    width: 100%;
    padding-inline: 1em;
}

.bookCard__information__price {
    font-size: 1.5rem;
}

.bookCard__information__price::before {
    font-size: 1.5rem;
}

/*Responsive*/

@media screen and (max-width: 900px) {
    .categoriesBookContainer {
        flex-direction: column;
    }

    .categories {
        width: 100%;
        height: auto;
        transform: translateY(0);
    }

    .categoriesHead {
        border: none;
        align-items: center;
    }

    .open.categoriesBody {
        opacity: 1;
        padding: 1em;
        transform: translateY(0);
    }

    .categoriesBody.close {
        transform: translateY(-100%);
    }

    .categoriesIcon,
    .close.categoriesBody {
        display: none;
    }

    .categories__toggle {
        margin-right: .5em;
    }

    .booksContainer {
        padding: 0;
        width: 100%;
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 425px){

  .bookCard {
    flex-direction: column;
  }

  .bookCard__img{
    width: 100%;
  }

  .bookCard__information{
   padding-inline: 1em;
   width: auto;
  }

}