.logo--library {
    margin-left: 1em;
}

.nav__toggle--library {
    margin-right: 1em;
}

.categoriesBookContainer {
    display: flex;
}

.searchContainer {
    display: flex;
    background-color: #fff;
    margin-top: 1em;
    border-radius: 20px;
    margin-inline: 1em;
}

.iconSearch {
    width: 25px;
    padding: 1em;
    padding-left: 1em;
}

.search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding-right: 1em;
    border-radius: 20px;
}

/*categories style*/

.categoriesBookContainer {
    margin-inline: 1em;
}

.categories {
    background-color: #271C19;
    color: #fff3ec;
    width: 350px;
    height: 250px;
    margin-top: 1em;
    border-radius: 10px;
}

.categoriesHead {
    display: flex;
    border-bottom: 1px solid #fff3ec;
}

.categoriesTittle {
    width: 100%;
    text-align: center;
    padding-inline: 1em;
}

.categoriesBody {
    padding: 1em;
    font-size: 1.1rem;
}

.categoriesBody__check {
    margin-bottom: 1em;
    transform: scale(1.2);
}

.categoriesBody__check {
    display: none;
}

.checkLabel {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff3ec;
}

.checkLabel::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #fff3ec;
    background-color: #271C19;
}

.categoriesBody__check:checked+.checkLabel::before {
    background-color: #fff3ec;
}

.categoriesBody__check:checked+.checkLabel::before {
    content: "\2713";
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

/*Containers styles*/

.booksContainer,
.authorsContainer {
    width: 100%;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 15px;
    margin-bottom: 1em;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.authorsContainer {
    padding-left: 0;
}

.bookCard,
.authorCard {
    color: #fff3ec;
    background-color: #271C19;
    margin-top: 1em;
    display: flex;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    border-radius: 10px;
}

.bookCard__img {
    width: 190px;
}

.bookCard__img,
.authorCard__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.authorCard__img {
    height: 100%;
    width: 250px;
    object-fit: cover;
}

.bookCard__information,
.authorCard__information {
    width: 100%;
    padding-inline: 1em;
}


.bookCard__information__price {
    font-size: 1.5rem;
}

.bookCard__information__price::before {
    font-size: 1.5rem;
}

/*Responsive*/

@media screen and (max-width: 900px) {
    .categoriesBookContainer {
        flex-direction: column;
    }

    .categories {
        width: 100%;
        height: auto;
        transform: translateY(0);
        background-color: #271C19;
        color: #fff3ec;
    }

    .categoriesHead {
        border: none;
        align-items: center;
    }

    .open.categoriesBody {
        opacity: 1;
        padding: 1em;
        transform: translateY(0);
    }

    .categoriesBody.close {
        transform: translateY(-100%);
    }

    .categoriesIcon,
    .close.categoriesBody {
        display: none;
    }

    .categories__toggle {
        margin-right: .5em;
    }

    .booksContainer {
        padding: 0;
        width: 100%;
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 425px) {

    .search {
        font-size: 12px;
    }

    .bookCard,
    .authorCard {
        flex-direction: column;
    }

    .bookCard__img,
    .authorCard__img {
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .bookCard__information,
    .authorCard__information {
        padding-inline: 1em;
        width: auto;
    }

}